/* HOME PAGE BODY */
.home-page-container {
    margin-top: 80px;
    padding: 0 10%;
}

.background-hero-image {
    display: none;
}

.background-hero-car-image {
    display: none;
}

@media (min-width: 800px) {
    .home-page-container {
        padding: 0 2%;
    }
    .background-hero-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .background-hero-car-image {
        display: block;
        position: absolute;
        top: 150px;
        right: 10%;
    }
}

/* HERO BANNER SECTION */
.home-page-hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.home-page-hero-banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-hero-banner-text-container h1 {
    font-size: 50px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
}

.home-page-hero-banner-text-container span {
    color: orangered;
}

.home-page-hero-banner-text-container h4 {
    font-size: 22px;
    margin: 0;
}

.home-page-hero-banner-text-container p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

.home-page-hero-banner-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.home-page-hero-banner-buttons-container button {
    max-width: 250px;
    min-width: 180px;
    font-size: 15px;
    padding: 18px 70px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-family: Rubik, sans-serif;
}

.orange-button {
    background-color: orangered;
    border: 2px solid orangered;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
}

.black-button {
    background-color: black;
    border: 2px solid black;
    box-shadow: 0 10px 15px 0 rgba(44, 44, 44, 0.35);
}

@media (min-width: 800px) {
    .home-page-hero-banner {
        align-items: start;
        padding: 20px 0;
        margin-top: 180px;
    }
    .home-page-hero-banner-text-container {
        align-items: start;
        width: 500px;
    }
    .home-page-hero-banner-text-container h1 {
        text-align: start;
    }
    .home-page-hero-banner-text-container p {
        text-align: start;
    }
}