/* HOME PAGE BODY */
.home-page-container {
    margin-top: 80px;
    padding: 0;
}

.background-hero-image {
    display: none;
}

.background-hero-car-image {
    display: none;
}

@media (min-width: 800px) {
    .background-hero-image {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .background-hero-car-image {
        display: block;
        position: absolute;
        top: 150px;
        right: 10%;
    }
}

/* HERO BANNER SECTION */
.home-page-hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 7%;
    background-color: transparent;
    text-align: center;
}

.home-page-hero-banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-hero-banner-text-container h1 {
    font-size: 50px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    margin: 1rem 0;
    line-height: 1.2;
    
}

.home-page-hero-banner-text-container span {
    color: orangered;
}

.home-page-hero-banner-text-container h4 {
    font-size: 22px;
    margin: 0;
}

.home-page-hero-banner-text-container p {
    color: #706f7b;
    font-size: 17px;
    margin-bottom: 2rem;
}

.home-page-hero-banner-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.home-page-hero-banner-buttons-container button {
    max-width: 250px;
    min-width: 180px;
    font-size: 15px;
    padding: 18px 70px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-family: Rubik, sans-serif;
    cursor: pointer;
}

.orange-button {
    background-color: orangered;
    border: 2px solid orangered;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
}

.black-button {
    background-color: black;
    border: 2px solid black;
    box-shadow: 0 10px 15px 0 rgba(44, 44, 44, 0.35);
}

@media (min-width: 800px) {
    .home-page-hero-banner {
        align-items: start;
        padding: 20px 0;
        margin-top: 180px;
    }

    .home-page-hero-banner-text-container {
        align-items: start;
        width: 500px;
    }

    .home-page-hero-banner-text-container h1 {
        text-align: start;
    }

    .home-page-hero-banner-text-container p {
        text-align: start;
    }
}

/* PLAN YOUR TRIP BANNER SECTION */
.plan-your-trip-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    margin: 0 7%;
}

.plan-your-trip-banner-container h2 {
    font-size: 42px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    margin-top: 15px;
}

.plan-your-trip-banner-container h3 {
    font-size: 24px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    margin: 0;
}

.plan-your-trip-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.trip-banner-boxes {
    max-width: 600px;
    padding: 20px 40px;
}

.trip-banner-boxes h3 {
    font-size: 24px;
    font-family: poppins, sans-serif;
    font-weight: 700;
}

.trip-banner-boxes p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

@media (min-width: 800px) {
    .plan-your-trip-banner-container {
        flex-wrap: wrap;
    }
    .trip-banner-boxes {
        max-width: 300px;
    }
}

/* RENTAL FLEET SECTION */
/* SALES BANNER SECTION */
.sales-banner {
    background-color: #2d2d2d;
    text-align: center;
    margin: 8rem 0;
    padding: 2rem 1rem;
}

.sales-banner h2 {
    font-size: 52px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}

.sales-banner p {
    color: #fff;
    font-size: 24px;
    font-family: poppins, sans-serif;
    margin-bottom: 25px;
}

.sales-banner span {
    color: orangered;
}

/* WHY CHOOSE US SECTION */
.why-choose-us-container {
    margin: 0 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.why-choose-us-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.why-choose-us-banner h3 {
    font-size: 22px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.why-choose-us-banner h2 {
    font-size: 42px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.why-choose-us-banner p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

.why-choose-us-button {
    max-width: 250px;
    min-width: 180px;
    font-size: 15px;
    padding: 18px 70px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-family: Rubik, sans-serif;
    background-color: orangered;
    border: 2px solid orangered;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
    cursor: pointer;
}

.why-choose-us-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.why-choose-us-boxes {
    max-width: 600px;
    padding: 20px 40px;
}

.why-choose-us-boxes h3 {
    font-size: 24px;
    font-family: poppins, sans-serif;
    font-weight: 700;
}

.why-choose-us-boxes p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

@media (min-width: 800px) {
    .why-choose-us-boxes {
        max-width: 400px;
    }
}

@media (min-width: 1000px) {
    .why-choose-us-boxes {
        max-width: 300px;
    }
}

/* TESTEMONIALS SECTION */
.home-page-testimonials-container {
    padding: 0 7%;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.home-page-testemonials-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.home-page-testemonials-banner h3 {
    font-size: 22px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.home-page-testemonials-banner h2 {
    font-size: 42px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-page-testemonials-banner p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

.testimonials-boxes {
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
    padding: 15% 10%;    
}

.testimonials-boxes p {
    font-size: 22px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: center;
}

.testimonials-boxes-profile-container {
    display: flex;
    align-items: center;
    column-gap: 10%;
}

.testimonials-boxes-profile-container img {
    border-radius: 50%;
}

.testimonials-boxes-name-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.testimonials-boxes-profile-container h4 {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

.testimonials-boxes-profile-container p {
    font-size: 16px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
}

/* FAQ SECTION */
.home-page-FAQ-container {
    margin-bottom: 30px;
}

.home-page-FAQ-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 7%;
    text-align: center;
}

.home-page-FAQ-banner h3 {
    font-size: 22px;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.home-page-FAQ-banner h2 {
    font-size: 42px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-page-FAQ-banner p {
    color: #706f7b;
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
}

.questions-container {
    margin: 0 7%;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.182);
}

.question-button {
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question-button p {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: start;
}

.answer {
    padding: 10%;
    color: #706f7b;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}