.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.nav-bar-button {
    height: 50px;
    width: 50px;
    margin-right: 5%;
}

.nav-bar-link-list {
    display: none;  
    list-style: none;
    width: 620px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
}

.nav-bar-sign-in-container {
    display: none;
    margin-right: 3.5%;   
}

.nav-bar-sign-in-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    margin-right: 25px;
}

.nav-bar-register-button {
    background-color: orangered;
    border: 2px solid orangered;
    padding: 14px 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: Rubik, sans-serif;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .nav-bar-link-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-bar-button {
        display: none;
    }
    .nav-bar-sign-in-container {
        display: block;
    }
}